h1 {
    font-size: 1.2em;
}

#options-menu {
    top: 0;
    margin: 0;
    border-radius: 0 0 3px 0;
    min-height: 100%;
    width: 38%;
}

#h1-div {
    border: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    font-size: 1.1em;
    padding: 5px 0;
    margin-bottom: 10px;
}

.fa-angle-down, .fa-angle-up {
    display: none;
}

#locations-list-div {
    display: block;
    max-height: 87vh;
}

#locations-list-div input {
    font-size: 0.8em;
}

.locations-list-li-div {
    padding: 0;
}

.locations-list-li-div div {
    padding: 0;
}

.list-group-item h3, p, address {
  font-size: 0.8em;
}

.fs-description-div {
    padding: 0;
    font-size: 1.2em;
}

#likes-text {
    font-size: 0.8em;
    margin-top: 8px;
}

#map {
    right: 0;
    margin: 0;
    padding: 0;
    float: right;
}

#infowindow {
    font-size: 1em;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}