html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 0.9em;
  padding: 0 5px !important;
  display: inline-block;
  padding-left: 0;
}

#options-menu {
  top: 10px;
  margin: 0 15px;
  width: calc(100% - 30px);
  z-index: 2;
  border-radius: 4px 4px;
  max-height: 520px;
}

#options-menu a {
  color: white;
}

#options-menu span {
  margin-top: 7px;
}

#btn-reset {
  color: white;
  border: solid 1px white;
  font-size: 0.6em;
  margin: 4px 0;
  padding: 2px 0;
}

#btn-reset:visited {
  color: #28a745;
  background-color: white !important;
  border: solid 1px green;
}

#h1-div {
  box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);
  max-height: 45px;
}

#h1-div a h1 {
  text-decoration: none;
}

#map {
  height: 100%;
  width: 100%;
}

#infowindow {
  max-width: 260px;
  font-size: 0.7em;
}

#infowindow  h1 {
  font-size: 1em;
}

#infowindow  h2 {
  font-size: 1em;
}

#infowindow  img:last-of-type {
  padding-left: 20px;
}

.favoritos-div h2 {
  display: inline-block;
  font-size: 1em;
}

#locations-list-div {
  margin-top: 5px;
  overflow-y: scroll;
  max-height: 480px;
 }

#locations-list-div hr {
  border-color: #bbb;
  margin: 3px auto;
}

#locations-list-div input {
  border-radius: 3px 3px;
  font-size: 0.7em;
  padding: 0 0 0 5px;
}

.list-group-item {
  padding: 10px 0;
  border: 0;
  border-bottom: solid 1.5px #ccc;
}

.list-group-item:last-of-type {
  border: 0;
}

.list-group-item div {
  display: inline-block;
  float: left;
  padding: 0;
}

.list-group-item h3, p, address {
  font-size: 0.7em;
}

.list-group-item p {
  margin-bottom: 5px;
  float: left;
}

.list-group-item p q {
  font-size: 0.8em;
}

.list-group-item img {
  float: left;
}

#fs-description {
  border: solid 1px #999;
  border-radius: 10px 0 10px 0;
}

.fa-angle-down, .fa-angle-up {
  margin-right: 10px;
}

.likes {
  margin-top: 7px;
  padding-left: 5px;
  font-size: 0.8em;
}

#likes-text {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 0.6em;
}

.fa-spinner {
  position: absolute;
  left: 50%;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(31,120,0,0.7);
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(31,120,0,0.3);
}